.custom-dropdown-menu {
  // width: 170px;
}
.custom-latest-dropdown-header {
  &:hover {
    background-color: rgba(117, 170, 219, 0.09) !important;
    color: rgb(77, 141, 201) !important;
  }
}

.custom-latest-dropdown-row {
  &.is-highlighted, &.is-selected {
    background-color: #4D8DC9 !important;
    .texts {
      .name{
        color: #ffffff !important;
      }

    }
  }
}
